/* External CSS */

*{
    margin: 0;
    padding: 0;
}


h1{
    color: red;
    background-color:yellow;
}

/* id selctor */
#first{
    color: white;
    background-color: brown;
}

/* class selector */
.second{
    color: blue;
}